.button {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    var(--blue-gradient-from) 0%,
    var(--blue-gradient-to) 100%
  );
  font-weight: 500;
  line-height: 30px;
  border-radius: var(--border-radius-general);
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button:hover {
  background: linear-gradient(
      0deg,
      var(--blue-gradient-hover),
      var(--blue-gradient-hover)
    ),
    linear-gradient(
      180deg,
      var(--blue-gradient-from) 0%,
      var(--blue-gradient-to) 100%
    );
}

.loading {
  pointer-events: none;
}

.rotate {
  animation: rotating 0.5s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.button:active {
  background: linear-gradient(
      0deg,
      var(--blue-gradient-active),
      var(--blue-gradient-active)
    ),
    linear-gradient(
      180deg,
      var(--blue-gradient-from) 0%,
      var(--blue-gradient-to) 100%
    );
}

.button:disabled {
  background: var(--disabled);
  cursor: auto;
}
